:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color: var(--text-primary);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-color: var(--text-disabled) var(--bg-default);
  scrollbar-width: thin;
  color-scheme: unset !important;
}

html {
  scrollbar-gutter: stable both-edges;
  background:transparent !important;
}

#app {
  text-align: center;
  background: transparent !important;
}

.row {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  font-weight: 600;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid var(--text-disabled);
  color: var(--text-disabled);
}

.row.active {
  border-color: var(--primary-light);
}

button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  background-color: transparent;
  color: var(--primary-main);
  border-color: var(--primary-main);
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  color: var(--primary-light);
  border-color: var(--primary-light);
  background-color: rgba(187, 153, 255, 0.08);
}

.icon-btn-primary {
  padding: unset;
  aspect-ratio: 1 / 1;
  width: 25px;
  border-radius: 50%;
}

.icon-btn {
  border-color: transparent !important;
  color: var(--text-secondary);
  padding: 0;
}

.icon-btn:hover {
  color: var(--text-primary);
}

.toggle-btn {
  border: 1px solid;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 11px;
  cursor: pointer;

  background: transparent;
  border-color: var(--text-disabled);
  color: var(--text-disabled);
}

.toggle-btn:hover {
  border-color: var(--text-disabled);
}

.toggle-btn.active {
  border-color: var(--primary-light);
  color: var(--primary-light);
}

input{
  color-scheme: var(--scheme);
}

input[type="color"] {
  flex: none !important;
  padding: 0 !important;
  background: none !important;
  border-radius: 50% !important;
  inline-size: 30px !important;
  block-size: 30px !important;
  border-width: 1.5px !important;
  border-color: var(--text-disabled) !important;
  transition: border-color 0.25s;
  cursor: pointer;
  width: 18px !important;
  height: 18px !important;
}

input[type="color"]:hover,
input[type="color"]::selection {
  border-color: var(--primary-light) !important;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
  scale: 5;
}

input[type="color" i]::-webkit-color-swatch,
input[type="color" i]::-moz-color-swatch {
  scale: 5;
}

input[type="text"] {
  border: none;
  background: transparent;
  font-size: 13px;
  padding: 2px 4px;
  color: var(--text-secondary);
  border: 1px solid;
  border-color: transparent;
  border-radius: 16px;

}

input[type="text"]:focus {
  outline: none;
  border-color: var(--primary-light);
  color: var(--text-primary);
  border-radius: 8px;
}

input[type=text]::placeholder {
  color: var(--text-disabled);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;

  outline: none;
  text-align: center;
  background: none;
  color: var(--text-primary);
  border-radius: 16px;
  border: 1px solid;
  border-color: var(--text-disabled);
}

input[type="number"]:focus {
  border-color: var(--text-primary);
}

select{
  background: var(--bg-paper);
  color: var(--text-secondary);
  border: 1px solid var(--text-secondary);
  border-radius: 4px;
}