:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  color: var(--text-primary);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-color: var(--text-primary) var(--bg-default);
  scrollbar-width: thin;

}

#app {
  /* padding-top: 0 !important; */
  /* padding-left: 10px !important; */
  /* padding: 2rem; */
  text-align: center;
}


button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  /* font-size: 1em;
  font-weight: 500; */
  font-family: inherit;
  background-color: transparent;
  color: var(--primary-main);
  border-color: var(--primary-main);
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  color: var(--primary-light);
  border-color: var(--primary-light);
  background-color: rgba(187, 153, 255, 0.08);
}

input[type="color"] {
  flex: none !important;
  padding: 0 !important;
  background: none !important;
  border-radius: 50% !important;
  inline-size: 30px !important;
  block-size: 30px !important;
  border-style: 1px solid !important;
  border-color: var(--text-disabled) !important;
  transition: border-color 0.25s;
  cursor: pointer;
}

input[type="color"]:hover,
input[type="color"]::selection {
  border-color: var(--primary-light) !important;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
  scale: 2;
}

input[type="color" i]::-webkit-color-swatch,
input[type="color" i]::-moz-color-swatch {
  scale: 2;
}

input[type="text"] {
  /* flex: 1; */
  border: none;
  background: transparent;
  font-size: 13px;
  padding: 2px 4px;
  color: var(--text-secondary);
  border: 1px solid;
  border-color: transparent;
  border-radius: 16px;

}

input[type="text"]:focus {
  outline: none;
  border-color: var(--primary-light);
  color: var(--text-primary);
  border-radius: 8px;
}

input[type=text]::placeholder {
  color: var(--text-disabled);
}